*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
}

p,
input,
button {
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

button,
input {
	outline: none;
}

button:active,
input:focus {
	opacity: 1;
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
	color: var(--dark-green);
}

.hljs-attr,
.hljs-keyword {
	color: var(--orange);
}

.hljs-comment {
	color: var(--app-light-grey);
}
