*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

ul {
	padding: 0;
	margin: 0;
}

p,
input,
button {
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
._vue-flash-msg-body__title {
	font-weight: bold;
}

button,
input {
	outline: none;
}

button:active,
input:focus {
	opacity: 1;
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
	color: var(--dark-green);
}

.hljs-attr,
.hljs-keyword {
	color: var(--orange);
}

.hljs-comment {
	color: var(--app-light-grey);
}

table {
	width: 100%;
	border: 1px solid #fff;

	& td,
	& th {
		width: 25%;
		text-align: center;
		color: #fff;
		border: 1px solid #fff;
		&:first-child {
			text-align: left;
			padding-left: 10px;
		}
	}
}
